<div class="list">

  <table style="width:100%" *ngIf="type.includes('songs')">
    <tr>
      <th>Title</th>
      <th>Artist</th>
      <th>Album</th>
      <th>Genre</th>
      <th>Time</th>
    </tr>
    <tr *ngFor="let item of items">
      <td>{{ item['title'] }}</td>
      <td>Nothing More</td>
      <td>Eyes of the land</td>
      <td>Rock</td>
      <td>{{ item['time'] }}</td>
    </tr>
  </table>

  <table style="width:100%" *ngIf="type.includes('videos')">
    <tr>
      <th>Title</th>
      <th>Extension</th>
      <th>Time</th>
    </tr>
    <tr *ngFor="let item of items" (click)="showVideoPlayer.emit()">
      <td>{{ item['title'] }}</td>
      <td>mp4</td>
      <td>{{ item['time'] }}</td>
    </tr>
  </table>

  <table style="width:100%" *ngIf="type.includes('images')">
    <tr>
      <th>Title</th>
      <th>Artist</th>
      <th>Album</th>
      <th>Genre</th>
      <th>Time</th>
    </tr>
    <tr *ngFor="let i of items">
      <td>Through the eyes of a child</td>
      <td>Nothing More</td>
      <td>Eyes of the land</td>
      <td>Rock</td>
      <td>3:14</td>
    </tr>
  </table>

</div>
