<div class="list">


  <!--
  <table style="width:100%" *ngIf="type === 'music'" border="0" cellspacing="0">
    <tr *ngFor="let item of items; let i = index" (click)="songClicked(item)" [class]="item['id'] == playedId ? 'list__item list__item--active' : 'list__item'">
      <td style="width: 30px">{{ i+1 }}</td>
      <td>{{ item['title'] }}</td>
      <td>{{ item['artist'] }}</td>
      <td>{{ item['album'] ? item['album'] : '-' }}</td>
      <td>{{ item['genre'] ? item['genre'] : '-' }}</td>
      <td>{{ item['time'] }}</td>
    </tr>
  </table> -->

  <app-et-table
  [items]="items"
  [columns]="columns"
  [options]="options"
  (itemClicked)="songClicked($event)">
  </app-et-table>

</div>
