
<div *ngIf="showSettings" class="settings" (click)="closeSettingsWindow()">

  <div class="settings__box" (click)="$event.stopPropagation()">
    <div class="settings__close fas fa-times" (click)="closeSettings.emit()"></div>
    <div class="settings__top">
      <h1 class="header-main">Settings</h1>
      <div class="settings-menu">
        <!--<button [class]="activeComponent === 'general' ? 'settings-menu__item settings-menu__item--active' : 'settings-menu__item'" (click)="activeComponent = 'general'">General</button>-->
        <button [class]="activeComponent === 'music-folders' ? 'settings-menu__item settings-menu__item--active' : 'settings-menu__item'" (click)="activeComponent = 'music-folders'">Folders</button>
        <button [class]="activeComponent === 'color-theme' ? 'settings-menu__item settings-menu__item--active' : 'settings-menu__item'" (click)="activeComponent = 'color-theme'">Themes</button>
      </div>
    </div>

    <!--<app-general *ngIf="activeComponent === 'general'"></app-general> -->
    <app-music-folders *ngIf="activeComponent === 'music-folders'" [folderType]="musicService.musicFoldersId"></app-music-folders>
    <app-music-folders *ngIf="activeComponent === 'audio-book-folders'" [folderType]="musicService.audioBooksFoldersId"></app-music-folders>
    <app-color-theme *ngIf="activeComponent === 'color-theme'"></app-color-theme>


  </div>

</div>

