@import "../../sass/variables";

.controls {

  height: 100%;
  position: absolute;
  z-index: 5;
  width: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: column;

  &__top {
    height: 16px;
  }

  &__bottom {
    margin-bottom: -4px;
    height: 145px;
    display: flex;
    justify-content: space-around;
  }

  &__left {
    display: flex;
    align-items: center;
    width: 140px;
  }

  &__center {
    display: flex;
    align-items: center;
    margin: 0 80px 0 80px;
  }

  &__right {
    display: flex;
    align-items: center;
    width: 140px;
  }

  &__play {
  }

  &__icon {
    font-size: 16px;
  }


  &__icon:hover {
    cursor: pointer;
    color: $primary !important;
  }

  &__icon--active:before {
    color: $primary !important;
  }

  &__icon--small {
    font-size: 20px;
  }

  &__icon--prev:before {
    content: "\f048" !important;
    margin-left: 35px;
    margin-right: 22px;
  }

  &__icon--next:before {
    content: "\f051" !important;
    margin-right: 35px;
    margin-left: 22px;
  }

  &__icon--next:before:hover {
    color: $primary !important;
  }

  &__icon--shuffle:before {
    content: "\f074" !important;
  }

  &__icon--repeat:before {
    content: "\f363" !important;
  }

  &__time {
    display: flex;
    align-items: center;
  }

  &__current-time {
    display: flex;
    align-items: center;
  }

  &__slash {
    color: #bebebe;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 13px;
    margin: 0 3px;
  }

  &__total-time {
    display: flex;
    align-items: center;
  }

}

