<div class="controls">

  <div class="controls__top">

    <vg-scrub-bar>
      <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
      <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
    </vg-scrub-bar>

  </div>

  <div class="controls__bottom">

    <div class="controls__left">

      <div class="controls__time">
        <div class="controls__current-time">
          <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
        </div>

        <div class="controls__slash">/</div>

        <div class="controls__total-time">
          <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
        </div>
      </div>


    </div>

    <div class="controls__center">
      <div [class]="shuffle ? 'controls__icon controls__icon--shuffle controls__icon--active' : 'controls__icon controls__icon--shuffle'"
           (click)="setShuffle(!shuffle,true)">
      </div>
      <div class="controls__icon controls__icon--prev" (click)="playPrev()"></div>
      <div class="controls__play"><vg-play-pause></vg-play-pause></div>
      <div class="controls__icon controls__icon--next" (click)="playNext()"></div>

      <div [class]="repeat ? 'controls__icon controls__icon--repeat controls__icon--active' : 'controls__icon controls__icon--repeat'"
           (click)="setRepeat(!repeat, true)">
      </div>
    </div>

    <div class="controls__right">
      <vg-mute></vg-mute>
      <vg-volume></vg-volume>
    </div>

  </div>


  <!--
  <vg-playback-button></vg-playback-button>
-->
  <!--
  <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
        <vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>

-->


  <!--
  <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
  <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
-->

  <!--
  <vg-track-selector></vg-track-selector>
  -->


</div>
