<div class="top-bar">

  <div class="top-bar__container">
    <div class="top-bar__left">
      <div class="logo">
        <i class="logo__icon fas fa-play"></i>
        <span class="logo__text"><span class="logo__text--bold">ET</span> Music Player</span>
      </div>


      <div class="top-menu" *ngIf="false">
        <div class="top-menu__item" routerLink="music">
          <div class="top-menu__text">File</div>
        </div>
        <div class="top-menu__item" routerLink="music">
          <div class="top-menu__text">Edit</div>
        </div>
        <div class="top-menu__item" routerLink="music">
          <div class="top-menu__text">Media</div>
        </div>
      </div>

    </div>
    <div class="top-bar__right">

      <i class="top-bar__settings fas fa-cog" *ngIf="false"></i>

      <i class="top-bar__mode fas fa-th" *ngIf="false" (click)="setListState(true)" ></i>
      <i class="top-bar__mode fas fa-list-ul" *ngIf="false" (click)="setListState(false)"></i>
      <app-search *ngIf="false"></app-search>
      <i class="top-bar__icon top-bar__icon--minimize fas fa-minus" (click)="minimizeWindow()"></i>
      <i class="top-bar__icon top-bar__icon--maximize far fa-square" (click)="maximizeWindow()"></i>
      <i class="top-bar__icon top-bar__icon--close fas fa-times" (click)="closeWindow()"></i>
    </div>
  </div>


</div>
