.track-info {

  display: flex;
  position: absolute;
  left: 35px;
  top: 26px;

  &__img {
    height: 36px;
    width: 36px;
    background-color: #e6e6e6;
    border-radius: 50%;
    margin-right: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  }

  &__name {
    font-weight: 600;
    font-size: 13px;
    margin-bottom: 5px;
    color: #ebebeb;
  }

  &__desc {
    font-size: 13px;
    color: #a5a5a5;
  }

}
