<div class="content music">
  <div class="content__left">

    <div class="content-bar">
      <div class="header-main">Music</div>

      <div class="tab-menu">
        <div (click)="musicService.goToPage('/music/songs', this.router, true)" [class]="setMenuClasses('/music/songs')">Songs</div>
        <div (click)="musicService.goToPage('/music/albums', this.router, true)" [class]="setMenuClasses('/music/album')">Albums</div>
        <div (click)="musicService.goToPage('/music/artists', this.router, true)" [class]="setMenuClasses('/music/artist')">Artists</div>

      </div>
    </div>

    <div class="content-bottom">
      <router-outlet></router-outlet>
    </div>

  </div>


</div>

