<div class="content music">
  <div class="content__left">

    <div class="content-bar">
      <div class="header-main">Music</div>

      <div class="tab-menu">
        <div routerLink="/music/songs" [class]="setMenuClasses('/music/songs')">Songs</div>
        <div routerLink="/music/albums" [class]="setMenuClasses('/music/album')">Albums</div>
        <div routerLink="/music/artists" [class]="setMenuClasses('/music/artist')">Artists</div>

      </div>

     <div class="search">
       <div class="search__icon fas fa-search"></div>
       <input class="search__input" type="text" placeholder="Search music">
     </div>

    </div>

    <div class="content-bottom">
      <router-outlet></router-outlet>
    </div>

  </div>


</div>

