@import "../../sass/variables";

.music {

  ng-scrollbar {
    height: calc(100% - 90px);
  }

  &__back {
    color: #878787;
    font-size: 15px;
    margin-bottom: 30px;
    font-weight: 400;
    margin-top: 5px;
    transition: 0.12s all;
  }

  &__back:hover {
    color: white;
    cursor: pointer;
  }

  &__folder {
    display: block;
    color: grey;
    margin-right: 25px;
  }

}



.breadcrumbs {

  &__list {

  }

  &__item {
    color: white;
    display: inline-block;
    margin-right: 20px;
    font-size: 22px;
    letter-spacing: 1px;
    font-weight: 400;
  }

  &__icon {

  }


}

