@import "../../../sass/variables";

.music-folders {

  height: 100%;

  &__list {
    padding: 0;
    margin: 0;
    margin-top: 22px;
    overflow: auto;
    position: absolute;
    top: 135px;
    right: 40px;
    bottom: 40px;
    left: 40px;
  }

  &__item {
    color: #ffffff;
    list-style: none;
    font-size: 13px;
    display: flex;
    align-items: center;
    transition: 0.1s all;
    letter-spacing: 0.2px;
    margin-bottom: 20px;
    padding: 10px 15px;
    background-color: #232323;
    border-radius: 5px;
    border: 1px solid $darkest;
  }

  &__item:hover {
    color: $primary;
    cursor: pointer;
  }

  &__icon {
    margin-right: 15px;
    background-color: red !important;
  }

  &__remove-folders {
    margin-left: 20px;
  }

  &__empty {
    color: #989898;
    font-weight: 600;
    font-size: 14px;
    margin-top: 5px;
    letter-spacing: 0.2px;
  }

  &__add-folders,
  &__scan-folders {
    margin-bottom: 10px;
  }

  &__add-folders:hover,
  &__scan-folders:hover {
    background-color: #232323;
  }

  &__add-folders {

  }

  &__scan-folders {
    margin-left: 25px;
  }

  &__add-folders-icon,
  &__scan-folders-icon {
    margin-right: 5px;
  }

  &__loader {
    height: 40px;
    width: 40px;
  }

}

