<div class="sidebar">

  <ng-container *ngIf="type.includes('music')">
    <h3 class="sidebar__header">Music library</h3>
    <ul class="sidebar__list">
      <li>
        <div [class]="setActiveClass('music-songs')" (click)="setType('music-songs')">
          Songs
        </div>
      </li>
      <li>
        <div [class]="setActiveClass('music-albums')" (click)="setType('music-albums')">
          Albums
        </div>
      </li>
      <li>
        <div [class]="setActiveClass('music-artists')" (click)="setType('music-artists')">
          Artists
        </div>
      </li>
    </ul>

    <h3 class="sidebar__header">Music playlists <i class="sidebar__add-icon fas fa-plus"></i></h3>
    <ul class="sidebar__list">
      <li><div [class]="setActiveClass('music-playlist-my-favourites')" (click)="setType('music-playlist-my-favourites')">My favourites</div></li>
      <li><div [class]="setActiveClass('music-playlist-some-music')" (click)="setType('music-playlist-some-music')">Some music</div></li>
      <li><div [class]="setActiveClass('music-playlist-musica')" (click)="setType('music-playlist-musica')">Musica</div></li>

    </ul>
  </ng-container>

  <ng-container *ngIf="type.includes('videos')">
    <h3 class="sidebar__header">Video library</h3>
    <ul class="sidebar__list">
      <li>
        <div [class]="setActiveClass('videos')" (click)="setType('videos')">
          All videos
        </div>
      </li>
    </ul>

    <h3 class="sidebar__header">Video playlists <i class="sidebar__add-icon fas fa-plus"></i></h3>
    <ul class="sidebar__list">
      <li><div [class]="setActiveClass('videos-fav')" (click)="setType('videos-fav')">My fav videos</div></li>
    </ul>
  </ng-container>


  <ng-container *ngIf="type.includes('images')">
    <h3 class="sidebar__header">Image library</h3>
    <ul class="sidebar__list">
      <li>
        <div [class]="setActiveClass('images')" (click)="setType('images')">
          All images
        </div>
      </li>
    </ul>

    <h3 class="sidebar__header">Image playlists <i class="sidebar__add-icon fas fa-plus"></i></h3>
    <ul class="sidebar__list">
      <li><div [class]="setActiveClass('images-fav')" (click)="setType('images-fav')">My fav images</div></li>
    </ul>
  </ng-container>


</div>
