@import "../../sass/variables";

.sidebar {
  width: 200px;
  position: absolute;
  top: 34px;
  bottom: 70px;
  left: 0;
  background-color: $dark;
  z-index: 6;

  &__header {
    margin: 0 0 0 20px;
    color: #e1e1e1;
    font-size: 13px;
    letter-spacing: 0px;
    font-weight: 400;
    position: relative;
  }

  &__list {
    padding-left: 0;
    margin-top: 10px;
    margin-bottom: 25px;
    //background-color: #1f1f1f;
  }

  &__list-inner {
    padding-left: 36px;
  }

  &__icon {
    margin-right: 26px;
    font-weight: 600;
    font-size: 13px;
    float: left;
    margin-top: 2px;
  }

  &__item {
    color: #919191;
    font-size: 13px;
    padding: 11px 26px;
    font-weight: 500;
    display: flex;
    align-items: center;
    letter-spacing: 0.3px;
    position: relative;
    float: left;
    width: 148px;
  }

  &__item-inner {
    color: #b9b9b9;
    font-size: 12px;
    padding: 5px 0;
  }

  &__item--separator {
    margin-top: 15px;
  }

  &__item:focus {
    outline: none;
  }

  &__item:hover {
    cursor: pointer;
    color: #ebebeb;
    //color: $primary;
  }

  &__item--active {
    color: #e1e1e1;
    //color: $primary;
    background-color: #1e1e1e;

  }

  &__add-icon {
    position: absolute;
    top: 13px;
    right: 26px;
    font-weight: 100;
    font-size: 14px;
  }

  li {
    list-style: none;
  }

  &__back {
    color: #7d7d7d;
    margin-left: 30px;
    font-size: 13px;
    font-weight: 600;
    transition: 0.1s all;
  }

  &__back:hover {
    cursor: pointer;
    color: white;
  }

}

.sidebar-search {

  position: relative;
  margin-top: 2px;
  //background-color: #141414;
  margin-top: 20px;


  &__input {
    background-color: transparent;
    border: none;
    font-size: 12px;
    width: calc(100% - 55px);
    padding-left: 63px;
    height: 40px;
    color: #d7d7d7;
  }

  &__input:focus {
    outline: none;
  }

  &__input::placeholder {
    color: #919191;
  }

  &__icon {
    position: absolute;
    pointer-events: none;
    top: 14px;
    font-size: 13px;
    left: 26px;
    color: #919191;
  }

}

.sidebar-playlist {
  position: relative;

  &__heading {
    font-size: 13px;
    color: #cdcdcd;
    font-weight: 600;
    margin-left: 26px;
    margin-bottom: -5px;
  }

  &__list {
    padding-left: 0;
  }

  &__item {
    padding: 4px 28px;
    color: #919191;
    font-size: 13px;
    display: flex;
    align-items: center;
    font-weight: 500;
  }

  &__item--active {
    color: #e1e1e1;
  }

  &__list-icon {
    margin-right: 17px;
    font-size: 12px;
  }

  &__dot {
    font-size: 7px;
    margin-right: 23px;
  }

  &__add {
    color: #cdcdcd;
    position: absolute;
    right: 26px;
    top: 4px;
    font-weight: 400;
    font-size: 14px;
  }

}
