@import "../../sass/variables";

.sidebar {

  background-color: $darker;
  //background: linear-gradient(45deg, rgb(25, 25, 25), rgb(16, 16, 16));
  position: fixed;
  left: 0;
  top: 37px;
  bottom: 76px;
  width: 200px;
  z-index: 17;
  overflow: auto;

  &__top {
    margin: 32px 25px 30px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__setting,
  &__search,
  &__back {
    font-weight: 600;
    font-size: 14px;
    color: #878787;
    height: 22px;
    width: 22px;
    line-height: 22px;
    text-align: center;
    margin-top: -4px;
  }

  &__search {
    //margin-left: 25px;
  }

  &__back--active {
    color: white;
  }

  &__back--active:hover {
    color: $primary;
  }

  &__setting:hover,
  &__search:hover {
    color: white;
  }

  &__heading {
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 11px;
    margin-bottom: 6px;
  }

  &__group {
    margin-bottom: 20px;
    padding-left: 25px;
  }

  &__list {
    padding-left: 0;
    margin-top: 0;
  }

  &__item {
    color: #b9b9b9;
    font-size: 13px;
    font-weight: 500;
    padding: 6px 0;
    display: flex;
    align-items: center;
    position: relative;
  }

  &__item:hover {
    cursor: pointer;
    color: white;

    .sidebar-playlist__list {
      display: block;
    }

  }

  &__item:focus {
    outline: none;
  }

  &__item--active {
    color: $primary !important;
  }

  &__icon {
    margin-right: 12px;
  }

  &__icon2 {
    height: 16px;
    width: 16px;
    margin-right: 12px;
  }

}

.sidebar-playlist {

  &__list {
    color: white;
    position: absolute;
    right: 15px;
    top: 5px;
    display: none;
    height: 15px;
    width: 15px;
    text-align: center;
    font-weight: 100;
    font-size: 20px;
  }

}

.playlist-new {

  position: relative;

  &__btn {
    background-color: transparent;
    border: none;
    color: #e6e6e6;
    margin-left: 26px;
    padding: 0 10px 5px 0;
    border-radius: 3px;
    font-size: 13px;
    letter-spacing: 0.4px;
    font-weight: 500;
    display: block;
  }

  &__btn:hover {
    color: $primary;
    cursor: pointer;
  }

  &__btn:focus {
    outline: none;
  }

  &__plus {
    margin-right: 10px;
    font-size: 13px;
  }

  &__container {
    position: absolute;
    top: -5px;
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #1e1e1e;
  }

  &__input {
    height: 30px;
    padding:0 15px;
    margin: 0;
    border: none;
    width: 120px;
    background-color: transparent;
    color: white;
    font-size: 13px;
  }

  &__icon {
    height: 30px;
    width: 30px;
    color: #ebebeb;
    display: inline-block;
    line-height: 30px;
    text-align: center;
    font-size: 13px;
    background-color: transparent;
    border: none;
  }
  &__icon:hover {
    cursor: pointer;
  }

  &__icon--confirm {
  }

  &__icon--confirm:hover {
    color: #00bd00;
  }

  &__icon--cancel {
  }

  &__icon--cancel:hover {
    color: red;
  }

}
