<div class="sidebar">

  <ng-container>
    <!--
        <i class="sidebar__back fas fa-chevron-left" (click)="goBack()"></i> -->

    <div class="sidebar-search">
      <input class="sidebar-search__input" type="text" placeholder="Search here ...">
      <i class="sidebar-search__icon fas fa-search"></i>
    </div>

    <ul class="sidebar__list">
      <li>
        <div [class]="musicActive ? 'sidebar__item sidebar__item--active' : 'sidebar__item'" routerLink="music"
             (click)="setActiveClass()">
          <i class="sidebar__icon fas fa-music"></i> Music
        </div>
      </li>

      <li>
        <div [class]="videosActive ? 'sidebar__item sidebar__item--active' : 'sidebar__item'" routerLink="videos">
          <i class="sidebar__icon fas fa-video"></i> Videos
        </div>
      </li>
      <li>
        <div [class]="false ? 'sidebar__item sidebar__item--active' : 'sidebar__item'" routerLink="playlist">
          <i class="sidebar__icon fas fa-list-ul"></i> Playlists
        </div>
      </li>
      <li>
        <div [class]="settingsActive ? 'sidebar__item sidebar__item--active' : 'sidebar__item'" routerLink="settings/general">
          <i class="sidebar__icon fas fa-cog"></i> Settings
        </div>
      </li>
    </ul>

    <!--

    <div class="sidebar-playlist">
      <h3 class="sidebar-playlist__heading"><i class=" sidebar-playlist__list-icon fas fa-list-ul"></i> Playlists</h3>
      <div class="sidebar-playlist__add fas fa-plus"></div>
      <ul class="sidebar-playlist__list">
        <li class="sidebar-playlist__item"><i class="sidebar-playlist__dot fas fa-dot-circle"></i> My songs</li>
        <li class="sidebar-playlist__item"><i class="sidebar-playlist__dot fas fa-dot-circle"></i> Songs I like</li>
        <li class="sidebar-playlist__item"><i class="sidebar-playlist__dot fas fa-dot-circle"></i> Favourites</li>
      </ul>
    </div>

-->

  </ng-container>


</div>
