@import "../../sass/variables";

.search {
  margin-left: 20px;
  position: absolute;
  right: 0;
  top: 10px;

  &__container {
    position: relative;
  }

  &__icon {
    position: absolute;
    top: 11px;
    left: 13px;
    font-size: 12px;
    color: #737373;
  }

  &__input {
    padding-left: 35px;
    height: 30px;
    border-radius: 3px;
    background-color: $dark;
    font-size: 12px;
    //background-color: #f0f0f0;
    color: #737373;
    min-width: 180px;
    border: 1px solid #1e1e1e;
  }

  &__input::placeholder  {
    color: #737373;
  }

}
