.timeline {

  display: flex;
  align-items: center;
  padding: 0 20px;

  &__bar {
    height: 8px;
    background-color: #dddddd;
    border-radius: 10px;
    width: 100%;
  }

  &__bar-inner {
    background-color: #272727;
    height: 8px;
    border-radius: 10px;
    width: 30%;
  }

  &__text {
    font-size: 11px;
    font-weight: 600;
  }

  &__text--current {
    margin-right: 10px;
  }

  &__text--full {
    margin-left: 10px;
  }

}
