
// Colors

$primary: #ff7d01;
$secondary: #e54f00;

$darkest: #171717;
$darker: #121212;
$dark: #151515;


$whitest: white;
$whiter: #f5f5f5;
$white: #f0f0f0;


$lightest: #ffffff;
$lighter: #f0f0f0;
$light: #e1e1e1;
