.albums {



  &__item {
    height: 140px;
    width: 140px;
    float: left;
    margin: 0px 30px 0 0;
  }

  &__item:hover {
    cursor: pointer;
  }

  &__item:focus {
    outline: none;
  }

  &__img {
    height: 140px;
    width: 140px;
    border-radius: 2px;
    border: 1px solid black;
  }

  &__album,
  &__artist {
    text-align: center;
  }

  &__album {
    color: white;
    margin: 7px 0 3px 0;
    font-weight: 500;
    font-size: 13px;
  }

  &__artist {
    color: #878787;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0px;
  }

}
