.albums {

  &__item {
    height: 175px;
    width: 175px;
    float: left;
    margin: 0px 30px 0 0;
  }

  &__item:hover {
    cursor: pointer;
  }

  &__item:focus {
    outline: none;
  }

  &__img {
    height: 170px;
    width: 170px;
    border: 1px solid #2d2d2d;
    border-radius: 2px;
  }

  &__album,
  &__artist {
    text-align: left;
    padding-left: 2px;
  }

  &__album {
    color: white;
    margin: 10px 0 2px 0;
    font-weight: 600;
    font-size: 13px;
  }

  &__artist {
    color: #919191;
    font-weight: 500;
    font-size: 13px;
  }

}
