<div class="now-playing">

  <div class="now-playing__top">

    <div class="now-playing__heading">Now playing</div>
    <div [class]="setIconClasses()" class="now-playing__icon fas fa-random"></div>

    <ng-scrollbar  #scrollRef barClass="scrollbar__bar" thumbClass="scrollbar__thumb">
      <ng-container *ngFor="let track of musicQueue">
        <div [class]="setItemClasses(track)">
          <img class="now-playing__img" [src]="'/assets/img/albums/' + track['album-dashed'] + '.png'" alt="">
          <div class="now-playing__container">
            <div class="now-playing__title">{{ track['title'] }}</div>
            <div class="now-playing__artist">{{ track['artist'] }}</div>
          </div>
        </div>
      </ng-container>
    </ng-scrollbar>

  </div>

  <div class="now-playing__bottom">

    <div class="now-playing__heading">Track information</div>

    <div class="now-playing-info__img"
         [ngStyle]="{'background': 'linear-gradient(0deg, rgba(0,0,0,0), rgba(0,0,0,0)), url(assets/img/albums/' + playingTrack['album-dashed'] + '.png) center center / cover'}"></div>
    <div class="now-playing-info__title">{{ playingTrack['title'] }}</div>
    <div class="now-playing-info__album">{{ playingTrack['album'] }}</div>
    <div class="now-playing-info__artist">{{ playingTrack['artist'] }}</div>

  </div>

</div>
