@import "../../sass/variables";

.now-playing {
  position: absolute;
  top: 5px;
  right: 0;
  bottom: 0;
  left: 0;

  &__top {
    height: calc(100% - 450px);
    padding: 12px 20px;
  }

  &__bottom {
    position: absolute;
    height: 370px;
    right: 0px;
    padding-right: 20px;
    bottom: 0;
    left: 0px;
    padding-left: 20px;
    z-index: 4;
    background-color: $darker;
  }

  &__heading {
    color: #ffffff;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.4px;
    padding-top: 15px;
    padding-bottom: 19px;
  }

  &__icon {
    position: absolute;
    top: 31px;
    right: 28px;
    font-size: 13px;
    color: #919191;
  }

  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    transition: 0.15s all;
  }

  &__item:hover {
    cursor: pointer;
    background-color: #1e1e1e;
    .now-playing__title {
      color: $primary;
    }
    .now-playing__artist {
      color: #c3c3c3;
    }
  }

  &__item--active {

    background-color: #1e1e1e;

    .now-playing__title {
      color: $primary;
    }
    .now-playing__artist {
      //color: #d7d7d7;
    }
  }

  &__item:last-of-type {
    margin-bottom: 0;
  }

  &__img {
    height: 36px;
    width: 36px;
    border: 1px solid $darkest;
    border-radius: 2px;
  }

  &__container {
    margin-left: 8px;
  }

  &__title {
    color: #cdcdcd;
    font-size: 11px;
    margin-bottom: 1px;
  }

  &__artist {
    color: #878787;
    font-size: 11px;
  }

  &__empty-text {
    font-size: 13px;
    color: #919191;
  }
}

.now-playing-info {
  background-color: $dark;

  &__img {
    height: 218px;
    width: 218px;
    margin-bottom: 16px;
    //box-shadow: 0 2px 4px 1px rgba(255, 249, 252, 0.05);
    border: 1px solid $darkest;
    border-radius: 3px;
  }

  &__title,
  &__album,
  &__artist {
    text-align: left;
    margin-left: 3px;
  }

  &__title {
    color: $primary;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.4px;
  }

  &__album {
    color: #969696;
    font-size: 12px;
    margin-top: 6px;
    margin-bottom: 7px;
    letter-spacing: 0.4px;
  }

  &__artist {
    color: #f5f5f5;
    font-size: 10px;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 1.2px;
  }

}

.now-playing-placeholder {

  &__item {
    margin-bottom: 10px;
    height: 36px;
    position: relative;
  }

  &__img {
    height: 38px;
    width: 38px;
    background-color: #282828;
  }

  &__container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  &__title {
    height: 10px;
    margin-bottom: 8px;
    width: 100px;
    background-color: #282828;
  }

  &__artist {
    height: 10px;
    width: 50px;
    background-color: #282828;
  }

}

.now-playing-info-placeholder {

  &__img {
    height: 218px;
    width: 218px;
    background-color: #282828;
    margin-bottom: 20px;
  }

  &__title {
    width: 150px;
    height: 12px;
    background-color: #282828;
  }

  &__album {
    width: 80px;
    height: 12px;
    margin: 10px 0;
    background-color: #282828;
  }

  &__artist {
    width: 120px;
    height: 12px;
    background-color: #282828;
  }

}
